body {
    background-color: #26282E;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

#container {
    width: 900px;
    border: 2px solid;
    background-color: #26282E;
    margin-left: auto;
    margin-right: auto;
}

div {
    background-color: #26282E;
}


/* ----------header---------- */

#header {
    height: 90px;
    padding-left: 5px;
    border-bottom: 2px dashed white;
    margin-bottom: 10px;
}

#logo-text {
    font-size: 35px;
}


/* ----------box-calc---------- */

#box-calc {
    float: left;
    width: 508px;
    min-height: 440px;
    padding: 5px;
    border-right: 2px dashed white;
}

#block-1 {
    width: 372px;
    float: left;
    color: #26282E;
}

#rsi-rse {
    float: left;
}

input[type="text"] {
    width: 120px;
    margin: 2px;
}

input[type="number"] {
    width: 120px;
    margin: 2px;
    outline: none;
}


/* ----------box-nav---------- */

#box-nav {
    float: left;
    min-height: 300px;
    width: 385px;
    padding-top: 5px;
    padding-left: 8px;
    background-color: #26282E;
}

button,
#check-wt {
    width: 372px;
    height: 30px;
    border: 1px solid white;
    background-color: #26282E;
    color: white;
    margin-top: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

button:hover,
#check-wt:hover {
    background-color: #37393F;
}

#check-wt a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 3px;
}

#display {
    width: 372px;
    height: 85px;
    padding: 5px;
    background-color: #37393F;
    border: 1px solid white;
}

th {
    text-align: left;
    background-color: #37393F;
    border-bottom: 1px solid white;
}

td {
    border-bottom: 1px solid white;
}

table {
    margin-top: 17px;
    border-collapse: collapse;
    border: 1px solid white;
    min-width: 372px;
}


/* ----------footer---------- */

#footer {
    min-height: 90px;
    border-top: 2px dashed white;
    margin-top: 10px;
    padding-left: 5px;
    font-size: 10px;
}

#text-in-footer {
    text-align: right;
    padding-right: 5px;
    font-size: 10px;
}